NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_API_BASE=http://localhost:3000
API_BASE=http://localhost:3000
DJANGO_URL=http://app:8000
NEXTAUTH_URL=http://localhost:3000

NEXT_PUBLIC_GOOGLE_CLIENT_ID=
DJANGO_PROXY_DEBUG=0
DJANGO_CLIENT_DEBUG=0
